<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="nGateway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <nGateway.Properties.Settings>
            <setting name="destinationDir" serializeAs="String">
                <value>C:\0Selfsys\APR</value>
            </setting>
            <setting name="postBillList" serializeAs="String">
                <value>http://172.20.142.35/NEXTTV_API_SIMULATION/DYNewsService/hulian/getRundownList</value>
            </setting>
            <setting name="postBillitemList" serializeAs="String">
                <value>http://172.20.142.35/NEXTTV_API_SIMULATION/DYNewsService/hulian/getNewsList</value>
            </setting>
            <setting name="deviceName" serializeAs="String">
                <value>SUBC1</value>
            </setting>
            <setting name="verNum" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="logDir" serializeAs="String">
                <value>C:\0selfsys\EXE\main\LOG\</value>
            </setting>
        </nGateway.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
